@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <!-- Bootstrap -->
    <link href="~/Areas/Test/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Test/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Areas/Test/css/custom.css" rel="stylesheet">

    <script src="~/Areas/Test/vendors/jquery/dist/jquery.min.js"></script>
</head>
<body style="background:#F7F7F7;">

    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="register1" class="form">
                <section class="login_content">
                    <form method="post">
                        <h1>Create Account</h1>
                        <div>
                            <div style="float:left">
                                <input type="text" class="form-control" placeholder="CNIC" name="CNIC" id="CNIC" required />
                            </div>
                            <div style="float:left;  margin-left: 50px;">
                                <input type="button" id="btnGetEmployee" onclick="getData(); return false;" class="btn btn-default submit" value="Validate" />
                            </div>
                        </div>
                        <div>
                            <input type="text" class="form-control" id="name" placeholder="Name" disabled />
                        </div>
                        <div>
                            <input type="email" class="form-control" id="status" placeholder="Employee Status" disabled />
                        </div>
                        <div>
                            <input type="email" class="form-control" id="jdesc" placeholder="JobDescription" disabled />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" name="UserName" required/>
                        </div>
                        <div>
                            <input type="password" id="password"  class="form-control" placeholder="Password" name="Password" required />
                        </div>
                        <div>
                            <input type="password" id="confirm_password"  class="form-control" placeholder="Confirm password" required />
                        </div>
                        <div>
                            <input type="submit" class="btn btn-default submit" value="Register" id="submitbtn" disabled/>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="@Url.Action("Login")" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />

                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
        function getData()
        {
            if ($("#CNIC").val() == "") {
                $("#CNIC").focus(); return;
            }
            $.get("/My/GetEmployeeForRegister/" + $("#CNIC").val(), function (data) {
                $("#jdesc").val(data.description);
                var jobdec = $("#jdesc").val();
                if (data.Name != " " && (jobdec.toLocaleLowerCase() == "cio" || jobdec.toLocaleLowerCase() == "data entery operator")) {
                    $("#name").val(data.Name);
                    $("#status").val(data.Status);
                   
                    $("#submitbtn").removeAttr("disabled");
                    
                }
                else if (data.Name != " " && (jobdec == "" || jobdec.toLocaleLowerCase() != "cio" || jobdec.toLocaleLowerCase() != "data entery operator"))
                {
                    $("#submitbtn").attr("disabled", "disabled");
                    alert("Invalid Job Decription");
                }
                else {
                    $("#submitbtn").attr("disabled", "disabled");
                    alert("Invalid CNIC");
                }
            });
        }
    </script>
</body>
</html>
