
@model DSSCIO.Areas.Test.Models.ProjectModel

<h2>Projects bid closed today: <b style="color:red">@Model.projectsCompletedToday</b></h2> 

<h2>Projects having bid today: <b style="color:red">@Model.projectsHavinyTodayDeadline</b></h2> 

