
@model DSSCIO.Areas.Test.Models.ProjectModel

 



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            
            <div class="x_content">
                <table id="datatable22" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            
                            
                            <th>City</th>

                            <th>Detail</th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#candidate-tab').on('shown.bs.tab', function () {
            if (!$.fn.DataTable.isDataTable('#datatable22')) {
                $('#datatable22').dataTable({
                    "ajax": "@Url.Action("GetCandidateList", "My")"
                });
            }

 

        });
    });

</script>
