
@model DSSCIO.Areas.Test.Models.ProjectModel

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

        <div class="x_content">
            <div id="finiance" style="height:250px;"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            
            <div class="x_content">
                <table id="datatable12" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Payment type</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Detail</th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#finiances-tab').on('shown.bs.tab', function () {
            if (!$.fn.DataTable.isDataTable('#datatable12')) {
                $('#datatable12').dataTable({
                    "ajax": "@Url.Action("GetFinanceList", "My")"
                });
            }



            var finiance = echarts.init(document.getElementById('finiance'), theme);

            finiance.setOption({
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x: 'center',
                    y: 'bottom',
                    data: ['Start This Month', 'Exceding Deadline This Month', 'On Time This Month']
                },

                calculable: true,
                series: [{
                    name: 'Project Tasks',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '48%'],
                    data: [{
                        value: @Model.Piechart7[0],
                        name: 'Start This Month'
                    }, {
                        value: @Model.Piechart7[1],
                        name: 'Exceding Deadline This Month'
                    }, {
                        value: @Model.Piechart7[2],
                        name: 'On Time This Month'
                    }]
                }]
            });

        });
    });

</script>
